# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# OS/editor
.DS_Store
.idea/
.vscode/

# Streamlit cache
.streamlit/**cache*/

# Data you don't want in git (keep if you DO)
Reports.json
Reports.xlsx

